---
const { name, role, ilvl, tank, x } = Astro.props;

---
<p></p>

<div style="margin: 2% 0">
    <h2>Role</h2>
    <p>{role}</p>
</div>
<!--<div>
    <h2>Healers</h2>
    <p>{name} {ilvl}</p>
</div>
<div>
    <h2>DPS</h2>
    <p>{name} {ilvl}</p>
</div>-->


<!--<p><span><img src={dps}.png></span>{dpsName}</p>-->